/*----- Reset -----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /* Colors */
  --cyan: rgb(42, 179, 177);
  --light-cyan: rgba(42, 179, 177, 0.7);
  --bright-yellow: rgb(192, 223, 51);
  --bright-yellow-hover: rgba(192, 223, 51, 0.8);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

/*----- Main Styling -----*/
body {
  background-color: #E6EFF6;
  font-family: "karla", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  overflow: hidden;
}

/*--- Intro ---*/
.intro {
  background-color: #fff;
  padding: 4rem;
}

.intro h2 {
  color: var(--cyan);
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
}

.intro h3 {
  color: var(--bright-yellow);
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.intro p {
  color: var(--grayish-blue);
  width: 55.5rem;
  font-size: 1.6rem;
  line-height: 1.6;
}

/*--- Details ---*/
.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
}

.details h4 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
}

/* Price */
.details .price {
  padding: 4rem;
  background-color: var(--cyan);
}

.details .price p {
  font-size: 1.6rem;
}

.details .price .dollar {
  font-size: 3.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.details .price .dollar span {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--light-gray);
  margin-left: 1rem;
}

.details .price button {
  cursor: pointer;
  background-color: var(--bright-yellow);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding: 1.6rem 9rem;
  margin-top: 2.6rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.details .price button:hover {
  background-color: var(--bright-yellow-hover);
}

.details .reasons {
  padding: 4rem;
  background-color: var(--light-cyan);
}

/* Reasons */
.details .reasons p {
  color: var(--light-gray);
  font-size: 1.4rem;
  line-height: 1.5;
}

/*--- Footer ---*/
.attribution, a {
  color: var(--grayish-blue);
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
}

.attribution a:hover {
  color: gray;
}

/*----- Media Query -----*/
@media (max-width: 720px){
  .container {
    width: 500px;
    margin-top: 40px;
  }

  .intro p {
    width: 43rem;
  }
  
  .details {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 580px){
  .container {
    width: 400px;
  }

  .intro {
    padding: 2.4rem;
  }  

  .intro h2 {
    font-size: 2rem;
  }

  .intro h3 {
    font-size: 1.5rem;
  }

  .intro p {
    width: 35rem;
    font-size: 1.4rem;
  }

  .details .price,
  .details .reasons {
    padding: 2.4rem;
  }

}

@media (max-width: 460px){
  .container {
    width: 311px;
    padding-bottom: 3.2rem;
  }

  .intro h3 {
    margin-bottom: 1.6rem;
  }

  .intro p {
    width: 26rem;
  }

  .details .reasons {
    border-radius: 0 0 0.8rem 0.8rem;
  }
}
