/* Reset */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/*--*--*--*--*--*--*--*-- Utitlity Components --*--*--*--*--*--*--*--*/
:root {
   font-size: 62.5%;
   
   /*--*--*--*-- Custom Properties --*--*--*--*/
   /*--*-- Color --*--*/
   --grayish-blue-l: hsl(210, 46%, 95%);
   --grayish-blue: hsl(212, 23%, 69%);
   --grayish-blue-m: hsl(216, 18%, 56%);
   --grayish-blue-d: hsl(217, 19%, 35%);
   --dark-blue: hsl(214, 17%, 51%);  
   --dark-gary: #979797;
}

/*--*--*--*--*--*--*--*-- Main Styling --*--*--*--*--*--*--*--*/
body {
   background-color: var(--grayish-blue-l);
   font-family: "Manrope", san-serif;
   color: var(--grayish-blue-m);
   display: grid;
   place-content: center;
   grid-template-rows: repeat(3, minmax(min-content, 1fr));
}

h2, 
h3 {
   color: var(--grayish-blue-d);
}

h3,
h4,
p {
   font-size: 1.3rem;
}

/*--*--*--*--*--*-- Article Section --*--*--*--*--*--*/
section#article-section {
   grid-row: 2/3;
}

/*--*--*--*-- Container --*--*--*--*/
.a-s__container{
   background-color: #fff;
   border-radius: 1rem;
   display: flex;
}

.a-s__container>img {
   border-radius: 1rem 0 0 1rem;
   width: 28.5rem;
   height: 28rem;
   object-fit: cover;
}

/*--*-- Content / Main Text --*--*/
article.a-s__content {
   width: 44.5rem;
   letter-spacing: 0.5px;
}

article h2 {
   font-size: 2rem;
   padding: 3.2rem 4rem 1.2rem;

}

article p {
   line-height: 1.6;
   padding: 0 4rem 2rem;
}


/*--*-- Content / Info --*--*/
.a-s__content__info {
   position: relative;
   display: flex;
}

/*-- Author --*/
.a-s__content__info--author {
   width: 44.5rem;
   display: flex;
   margin: 0 4rem;
}

.a-s__content__info--author > img {
   border-radius: 50%;
   width: 4rem;
   height: 4rem;
   object-fit: cover;
   margin-right: 1.6rem;
}

.a-s__content__info--author h3 {
   color: var(--grayish-blue-d);
}

.a-s__content__info--author p {
   padding: 0;
}

/*-- Share --*/
.a-s__content__info--share {
   background-color: var(--grayish-blue-l);
   outline: none;
   border: none;
   border-radius: 50%;
   cursor: pointer;
   position: absolute;
   right: 4rem;
   bottom: 0;
   z-index: 3;
   width: 3.2rem;
   height: 3.2rem;
   box-shadow: 0 1px 10px -1px hsla(210, 29%, 84%, 80);
   display: grid;
   place-items: center;
   transition: all 0.3s ease-in-out;
}

.a-s__content__info--i {
   color: var(--grayish-blue-m);
   font-size: 1.5rem;
}

.active-share {
   background-color: var(--grayish-blue-m);
   box-shadow: initial;
}

.active-icon {
   color: hsl(210, 46%, 95%);
}

/* Icons */
.a-s__content__info--share__icons {
   position: absolute;
   right: -6.7rem;
   bottom: 6rem;
   background-color: var(--grayish-blue-d);
   border-radius: 1rem;
   width: 24.8rem;
   height: 5.5rem;
   display: flex;
   align-items: center;
   z-index: 2;
   box-shadow: 0 10px 10px hsla(210, 29%, 84%, 50);
   opacity: 0;
   transition: all 0.35s ease-out;
}

.a-s__content__info--share__icons:after {
   content: "";
   position: absolute;
   top: 5.5rem;
   left: 50%;
   transform: translateX(-50%);
   border: transparent solid 1rem;
   border-top: var(--grayish-blue-d) solid 1rem;
}

.a-s__content__info--share__icons h4 {
   color: var(--grayish-blue);
   font-weight: 400;
   letter-spacing: 0.5rem;
   text-transform: uppercase;
   margin: 0 1.6rem 0 3.4rem;
}

.a-s__content__info--share__i img {
   width: 2rem;
   height: 2rem; 
   outline: none;
   margin-right: 1.6rem;
}

.a-s__content__info--share__i:nth-of-type(2) > img{
   height: 1.65rem;
}

.active-icons {
   opacity: 1;
}

/*--*--*--*--*--*-- Attribution --*--*--*--*--*--*/
.attribution {
   grid-row: 3/4;
   place-self: center;
   font-size: 1.2rem;
   letter-spacing: 1px;
}

.attribution a {
   color: var(--grayish-blue-m);
   text-decoration: none;
}

.attribution a:hover {
   color: var(--grayish-blue-d);
}

/*--*--*--*--*--*-- Max Width: 900px --*--*--*--*--*--*/
@media screen and (max-width: 900px) {
   body {
      grid-template-rows: min-content 1fr;
   }

   /*--*--*--*--*--*-- Article Section --*--*--*--*--*--*/
   section#article-section {
      grid-row: 1/2;
      margin-top: 10rem;
   }
   
   /*--*--*--*-- Container --*--*--*--*/
   .a-s__container{
      flex-direction: column;
   }

   .a-s__container>img {
      border-radius: 1rem 1rem 0 0;
      width: 50rem;
      height: 28rem;
   }

   article.a-s__content {
      width: 50rem;
   }

   article p {
      padding: 0 4rem 3.2rem;
   }

   /*--*-- Content / Info --*--*/
   .a-s__content__info {
      margin-bottom: 4rem;
   }

   /*--*--*--*--*--*-- Attribution --*--*--*--*--*--*/
   .attribution {
      grid-row: 2/3;
      margin-top: 5rem;
   }
}


/*--*--*--*--*--*-- Max Width: 660px --*--*--*--*--*--*/
@media screen and (max-width: 660px) {
   /*--*--*--*--*--*-- Article Section --*--*--*--*--*--*/
   section#article-section {
      margin-top: 8rem;
   }
   /*--*--*--*-- Container --*--*--*--*/
   .a-s__container>img {
      width: 40rem;
      height: 24rem;
   }

   article.a-s__content {
      width: 40rem;
   }
   
   /*--*-- Content / Info --*--*/
   .a-s__content__info {
      margin-bottom: 3rem;
   }
   
   .a-s__content__info--share__icons {
      right: 0;
      bottom: -2rem;
      border-radius: 0 0 1rem 1rem;
      width: 40rem;
      height: 7rem;
   }

   .a-s__content__info--share__icons:after {
      border: none;
   }
}

/*--*--*--*--*--*-- Max Width: 460px --*--*--*--*--*--*/
@media screen and (max-width: 460px) {
   /*--*--*--*--*--*-- Article Section --*--*--*--*--*--*/
   /*--*--*--*-- Container --*--*--*--*/
   .a-s__container>img {
      width: 32.7rem;
      height: 20rem;
   }

   article.a-s__content {
      width: 32.7rem;
   }
   
   article h2 {
      font-size: 1.6rem;
      padding: 4.4rem 3.2rem 1.2rem;
   }
   
   article p {
      line-height: 1.6;
      padding: 0 3.2rem 3.6rem;
   }

   /*--*-- Content / Info --*--*/
   .a-s__content__info {
      margin-bottom: 2rem;
   }
   .a-s__content__info--share__icons {
      bottom: -1.7rem;
      width: 32.7rem;
      height: 6.4rem;
   }
}
